<!doctype html>
<html>
<head>
<title>SCAP Editor</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<link rel="stylesheet" href="static/editor.css">
</head>

<body>
<div class="newfile">
<p>In which directory you would like to create the new file</p>
<form enctype="multipart/form-data" method="post" action="">
    {% if dirs %}
        <select name="dir">
            {% for dir in dirs|sort %}
                <option value="{{ dir }}">{{ dir }}</option>
            {% endfor %}
        </select>
        <p>
            File name: <input type="text" name="filename" value=".xml" required>
        </p>
        <p>
            <input type="submit" name="start" value="Create">
            <input type="button" onClick="window.location='/'" value="Cancel">
        </p>
    {% endif %}
    {% if format %}
        <input type="hidden" name="format" id="format" value="{{ format }}">
    {% endif %}
</form>
</div>
</body>
</html>
